@using AspNetCore.JsonLocalization
@model LocalizedViewModel

@inject IViewLocalizer Localizer
<br />
<br />
<var id="result-container" class="result-container"></var>
<form method="get" asp-action="Index" asp-controller="Localization">
    <div class="typeahead__container">
        <div class="typeahead__field">
            <span class="typeahead__query">
                <input class="search-typeahead" name="searchItem" type="search" placeholder="Search" autocomplete="on">
            </span>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-danger">
                    <i class="typeahead__search-icon"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<br />

<button type="button" id="addKeyName_pop" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-title="@Localizer["AddNewKeyName"]"
        data-html="true"
        data-content='
                    <div id="addKeyName_validation" class="text-danger"></div>
                    <form id="addKeyName_form">
                    <div class="form-group">
                        <label for="addKeyName">@Localizer["KeyName"]</label>
                        <input id="addKeyName" name="pk"type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="addCulture">@Localizer["Culture"]</label>
                        <input id="addCulture" name="culture"type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="addValue">@Localizer["LocalizedValue"]</label>
                        <textarea  name="value" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">@Localizer["Add"]</button>
                        <button id="addKeyName_cancel"class="btn btn-default">@Localizer["Cancel"]</button>
                    </div>
                </form>'>
                    @Localizer["AddNewKeyName"]
                </button>

<br/>
<br/>


<div class="panel panel-success">
    <div class="panel panel-heading">
        @Localizer["LocalizedTable"]
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Localizer["KeyName"]</th>
                <th>
                    @Localizer["CultureCode"]
                </th>
                <th>@Localizer["LocalizedValue"]</th>
                <th>@Localizer["DeleteLanguage"]</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Count() == 0)
            {
                <tr>
                    <td colspan="5" class="text-center text-danger">
                        <span style="font-size:40px;">@Localizer["NoResultsMatch"]</span>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var local in Model.Items)
                {
                    <tr>
                        <td rowspan="@((int)local.Value.Count() + 2)">
                            <div>
                                <a href="#" id="@(local.Key.Replace(" ", String.Empty))_editKeyName_pop" data-type="text" data-pk="@local.Key" data-url="/api/editkeyname" data-title="@Localizer["EditKeyName"]">
                                    @local.Key
                                </a>
                            </div>
                            <br />
                            <button class="btn btn-danger" id="@(local.Key.Replace(" ", String.Empty))_deleteKeyName_pop" data-container="body" data-toggle="popover" data-title="@Localizer["AreYouSure"]"
                                    data-html="true"
                                    data-content='
                                    <form id="@(local.Key.Replace(" ", String.Empty))_deleteKeyNameForm">
                                        <div class="form-group">
                                            <input type="hidden" name="pk" value="@local.Key"/>
                                            <button type="submit" class="btn btn-sm btn-primary">@Localizer["Confirm"]</button>
                                            <button id="@(local.Key.Replace(" ", String.Empty))_cancelKeyNameForm"type="button" class="btn btn-sm btn-default">@Localizer["Cancel"]</button>
                                        </div>
                                    </form>
                                '>@Localizer["Delete"]</button>
                        </td>
                    </tr>

                    @foreach (var l in local.Value)
                    {
                        <tr>
                            <td>
                                @l.Key
                            </td>
                            <td>
                                <a href="#" id="@(local.Key.Replace(" ", String.Empty))_@(l.Key)_editCultureValue_pop" data-type="textarea" data-pk="@local.Key" data-name="@l.Key" data-url="api/editvalue" data-title="@Localizer["EditLocalizedValue"]">@l.Value</a>
                            </td>
                            <td>
                                <button type="button" id="@(local.Key.Replace(" ", String.Empty))_@(l.Key)_deleteCulture_pop" data-container="body" data-toggle="popover" class="btn btn-sm btn-danger" title="@Localizer["AreYouSure"]"
                                        data-html="true"
                                        data-content='
                             <div class="text-danger"id="validation-message"></div>
                             <form id="@(local.Key.Replace(" ", String.Empty))_@(l.Key)_deleteCultureForm">
                                 <div class="form-group">
                                     <input type="hidden" value="@local.Key.Replace(" ", String.Empty)" name="@l.Key" class="btn btn-danger" />
                                     <button type="submit"class="btn btn-sm btn-primary" >@Localizer["Confirm"]</button>
                                     <button type="button" class="btn btn-default" id="@(local.Key.Replace(" ", String.Empty))_@(l.Key)_cancelDeleteCultureForm">@Localizer["Cancel"]</button>
                                 </div>
                             </form>
                            '>
                            @Localizer["Delete"]
                        </button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <button type="button" id="@(local.Key.Replace(" ", String.Empty))_addCulture_pop" class="btn btn-sm btn-success" data-container="body" data-toggle="popover" data-placement="left" title="@Localizer["AddNewCulture"]"
                                    data-html="true"
                                    data-content='
                                <div class="text-danger"id="addculture-validation-message"></div>
                                <form id="@(local.Key.Replace(" ", String.Empty))_addCultureForm">
                                    <div class="form-group">
                                        <label for="culture-input">@Localizer["Culture"]</label>
                                        <input id="culture-input" name="@local.Key" type="text" class="form-control input-sm" />
                                    </div>
                                    <div class="form-group">
                                        <label for="value-input">@Localizer["LocalizedValue"]</label>
                                        <textarea rows="10" id="value-input" name="@local.Key" type="text" class="form-control input-sm" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                           @Localizer["Confirm"]
                                        </button>
                                        <button id="@(local.Key.Replace(" ", String.Empty))_cancelAddCultureForm" type="button" class="btn btn-default btn-sm">
                                           @Localizer["Cancel"]
                                        </button>
                                    </div>
                                </form>'>
                            @Localizer["AddNewCulture"]
                        </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<pagination page-controller="Localization"
            page-action="Index"
            current-page="@Model.Page"
            total-items="@Model.TotalItems"
            item-per-page="@Model.ItemPerPage"
            page-first-icon="@Localizer["FirstPage"].Value"
            page-last-icon="@Localizer["LastPage"].Value"
            page-previous-icon="@Localizer["PreviousPage"].Value"
            page-next-icon="@Localizer["NextPage"].Value"
            page-query-options="{
                SearchItem:'@Model.SearchItem',
            }">
</pagination>

@section Scripts{
    <script src="~/lib/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="~/js/localization-index.js"></script>

    <script>
        $(function () {
            $.fn.editableform.buttons ='<button type= "submit" class="btn btn-sm btn-primary editable-submit">@Localizer["Confirm"]</button><button type="button" class="btn btn-sm btn-default editable-cancel">@Localizer["Cancel"]</button>'
            $.fn.editable.defaults.mode = 'popover';

            // Add new key name
            addPopover('#addKeyName_cancel', '#addKeyName_pop');
            addNewKeyName_ajax('#addKeyName_form', '#addKeyName_validation');

            $.typeahead({
                input: ".search-typeahead",
                minLength: 1,
                maxItem:10,
                hint:true,
                order: "asc",
                highlight:true,
                offset:true,
                group: {
                    template: function (item) {
                        return item.group.replace(/_/g, ' ');
                    }
                },
                dropdownFilter:true,
                dropdownFilter:"@Localizer["All"]",
                template: "{{display}} <small style='color:#999;'>{{group}}</small>",
                source: {
                    "@Localizer["KeyName"]": {
                        ajax: {
                            type: "GET",
                            url: "api/getJsonData",
                            path: "keyname"

                        }
                    },
                    "@Localizer["LocalizedValue"]": {
                        ajax: {
                            type: "GET",
                            url: "api/getJsonData",
                            path:"localizedValue"
                        }
                    }
                },
                callback: {
                    onNavigateAfter: function (node, lis, a, item, query, event) {
                        if (~[38, 40].indexOf(event.keyCode)) {
                            var resultList = node.closest("form").find("ul.typeahead__list"),
                                activeLi = lis.filter("li.active"),
                                offsetTop = activeLi[0] && activeLi[0].offsetTop - (resultList.height() / 2) || 0;
                            resultList.scrollTop(offsetTop);
                        }

                    },
                    onClickAfter: function (node, a, item, event) {
                        event.preventDefault();

                        var text = "@Localizer["Keyword"]: " + "\""+item.display+"\"";
                        $('#result-container').html(text);

                    },
                    onResult: function (node, query, result, resultCount) {
                        if (query === "") return;

                        var text = "";
                        if (result.length > 0 && result.length < resultCount) {
                            text = "@Localizer["Showing"] <strong>" + result.length + "</strong> @Localizer["KeywordsAndTotal"] <strong>" + resultCount + "</strong> @Localizer["ElementsMatchingKeyword"]: <strong>" + "\"" + query + "\"";
                        } else if (result.length > 0) {
                            text = '@Localizer["Showing"] <strong>' + result.length + '</strong> @Localizer["KeywordMatch"]: "' + query + '"';
                        } else if (result.length===0){
                            text = '@Localizer["NoResultsMatch"] \"' + query + '"';
                        }

                        $('#result-container').html(text).attr('class','text-danger');

                    },
                    onMouseEnter: function (node, a, item, event) {

                        if (item.group === "country") {
                            $(a).append('<span class="flag-chart flag-' + item.display.replace(' ', '-').toLowerCase() + '"></span>')
                        }

                    },
                    onMouseLeave: function (node, a, item, event) {

                        $(a).find('.flag-chart').remove();

                    }
                }
            });
        });
    </script>

    @foreach (var local in Model.Items)
    {
        <script>
            $(function () {
                // Edit key name
                var editableKeyName_id = "#@(local.Key.Replace(" ", String.Empty))_editKeyName_pop";
                editable_ajax(editableKeyName_id);

                var deleteKeyName_pop_id = "#@(local.Key.Replace(" ", String.Empty))_deleteKeyName_pop";
                var cancelDeleteKeyNameForm_id = "#@(local.Key.Replace(" ",String.Empty))_cancelKeyNameForm";
                addPopover(cancelDeleteKeyNameForm_id, deleteKeyName_pop_id);

                var deleteKeyName_form_id = "#@(local.Key.Replace(" ",String.Empty))_deleteKeyNameForm";
                deleteKeyName_ajax(deleteKeyName_form_id);

                // Add new culture
                var addCulture_pop_id = "#@(local.Key.Replace(" ",String.Empty))_addCulture_pop";
                var addCultureCancel_id = "#@(local.Key.Replace(" ",String.Empty))_cancelAddCultureForm";

                addPopover(addCultureCancel_id,addCulture_pop_id);

                var addCultureValidation_id = "#addculture-validation-message";
                var addCultureForm_id = "#@(local.Key.Replace(" ",String.Empty))_addCultureForm";

                addNewCulture_ajax(addCultureForm_id,addCultureValidation_id);

            });
        </script>
    }


    @foreach (var local in Model.Items)
    {
        @foreach (var l in local.Value)
        {
            <script>
                $(function () {

                    // Edit Culture Value
                    var editCultureValue_pop_id = "#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_editCultureValue_pop";
                    editable_ajax(editCultureValue_pop_id);

                    // Delete Culture
                    var deleteCulture_pop_id = "#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_deleteCulture_pop";
                    var cancelDeleteCulture_id = "#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_cancelDeleteCultureForm";
                    addPopover(cancelDeleteCulture_id, deleteCulture_pop_id);

                    var deleteCultureForm_id = "#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_deleteCultureForm";
                    deleteCulture_ajax(deleteCultureForm_id);
                })
            </script>
        }
    }
}