@using AspNetCore.JsonLocalization
@model LocalizedViewModel

@inject IViewLocalizer Localizer

<br />
<button type="button" id="addKeyName_pop" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-title="@Localizer["AddNewKeyName"]"
        data-html="true"
        data-content='
        <div id="addKeyName_validation" class="text-danger"></div>
       <form id="addKeyName_form">
        <div class="form-group">
            <label for="addKeyName">@Localizer["KeyName"]</label>
            <input id="addKeyName" name="pk"type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="addCulture">@Localizer["Culture"]</label>
            <input id="addCulture" name="culture"type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="addValue">@Localizer["LocalizedValue"]</label>
            <input id="addValue" name="value"type="text" class="form-control" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@Localizer["Add"]</button>
            <button id="addKeyName_cancel"class="btn btn-default">@Localizer["Cancel"]</button>
        </div>
    </form>
   '>
    @Localizer["AddNewKeyName"]
</button>
<br />
<br />
<div class="panel panel-success">
    <div class="panel panel-heading">
        @Localizer["LocalizationTable"]
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Localizer["KeyName"]</th>
                <th>
                    @Localizer["CultureCode"]
                </th>
                <th>@Localizer["LocalizedValue"]</th>
                <th>@Localizer["DeleteLanguage"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var local in Model.Items)
            {
                <tr>
                    <td rowspan="@((int)local.Value.Count() + 2)">
                        <div>
                            <a href="#" id="@(local.Key.Replace(" ", String.Empty))_editKeyName_pop" data-type="text" data-pk="@local.Key" data-url="/api/editkeyname" data-title="@Localizer["EditKeyName"]">
                                @local.Key
                            </a>
                        </div>
                        <br />
                        <button class="btn btn-danger" id="@(local.Key.Replace(" ", String.Empty))_deleteKeyName_pop" data-container="body" data-toggle="popover" data-title="@Localizer["AreYouSure"]"
                                data-html="true"
                                data-content='
                                    <form id="@(local.Key.Replace(" ",String.Empty))_deleteKeyNameForm">
                                        <div class="form-group">
                                            <input type="hidden" name="pk" value="@local.Key"/>
                                            <button type="submit" class="btn btn-sm btn-primary">@Localizer["Confirm"]</button>
                                            <button id="@(local.Key.Replace(" ",String.Empty))_cancelKeyNameForm"type="button" class="btn btn-sm btn-default">@Localizer["Cancel"]</button>
                                        </div>
                                    </form>
                                '>@Localizer["Delete"]</button>
                    </td>
                </tr>

                @foreach (var l in local.Value)
                {
                    <tr>
                        <td>
                            @l.Key
                        </td>
                        <td>
                            <a href="#" id="@(local.Key.Replace(" ",String.Empty))_@(l.Key)_editCultureValue_pop" data-type="text" data-pk="@local.Key" data-name="@l.Key" data-url="api/editvalue" data-title="@Localizer["EditLocalizedValue"]">
                                @l.Value
                            </a>
                        </td>
                        <td>
                            <button type="button" id="@(local.Key.Replace(" ",String.Empty))_@(l.Key)_deleteCulture_pop" data-container="body" data-toggle="popover" class="btn btn-sm btn-danger" title="@Localizer["AreYouSure"]"
                                    data-html="true"
                                    data-content='
                             <div class="text-danger"id="validation-message"></div>
                             <form id="@(local.Key.Replace(" ",String.Empty))_@(l.Key)_deleteCultureForm">
                                 <div class="form-group">
                                     <input type="hidden" value="@local.Key.Replace(" ",String.Empty)" name="@l.Key" class="btn btn-danger" />
                                     <button type="submit"class="btn btn-sm btn-primary" >@Localizer["Confirm"]</button>
                                     <button type="button" class="btn btn-default" id="@(local.Key.Replace(" ",String.Empty))_@(l.Key)_cancelDeleteCultureForm">@Localizer["Cancel"]</button>
                                 </div>
                             </form>
                            '>
                            @Localizer["Delete"]
                        </button>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <button type="button" id="@(local.Key.Replace(" ",String.Empty))_addCulture_pop" class="btn btn-sm btn-success" data-container="body" data-toggle="popover" data-placement="left" title="@Localizer["AddNewCulture"]"
                                data-html="true"
                                data-content='
                                <div class="text-danger"id="addnewculture-validation-message"></div>
                                <form id="@(local.Key.Replace(" ",String.Empty))_addCultureForm">
                                    <div class="form-group">
                                        <label for="culture-input">@Localizer["Culture"]</label>
                                        <input id="culture-input" name="@local.Key" type="text" class="form-control input-sm" />
                                    </div>
                                    <div class="form-group">
                                        <label for="value-input">@Localizer["LocalizedValue"]</label>
                                        <input id="value-input" name="@local.Key" type="text" class="form-control input-sm" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </button>
                                        <button id="@(local.Key.Replace(" ",String.Empty))_cancelAddCultureForm" type="button" class="btn btn-default btn-sm">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                </form>'>
                            @Localizer["AddNewCulture"]
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<pagination page-controller="Localization"
            page-action="Index"
            current-page="@Model.Page"
            total-items="@Model.TotalItems"
            item-per-page="@Model.ItemPerPage"
            page-first-icon="@Localizer["FirstPage"].Value"
            page-last-icon="@Localizer["LastPage"].Value"
            page-previous-icon="@Localizer["PreviousPage"].Value"
            page-next-icon="@Localizer["NextPage"].Value">

</pagination>

@section Scripts{
    <script src="~/lib/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="~/js/localization-index.js"></script>

    <script>
        $(function () {
            addPopover('#addKeyName_cancel', '#addKeyName_pop', 'popover');
            addNewKeyName_ajax('#addKeyName_form', '#addKeyName_validation');
        });
    </script>

    @foreach (var local in Model.Items)
    {
        <script>
            $(function () {
                var editableKeyName_id = "#@(local.Key.Replace(" ", String.Empty))_editKeyName_pop";
                editable_ajax(editableKeyName_id);

                var deleteKeyName_pop_id = "#@(local.Key.Replace(" ", String.Empty))_deleteKeyName_pop";
                var cancelDeleteKeyNameForm_id = "#@(local.Key.Replace(" ",String.Empty))_cancelKeyNameForm";
                addPopover(cancelDeleteKeyNameForm_id, deleteKeyName_pop_id, "popup");

                var deleteKeyName_form_id = "#@(local.Key.Replace(" ",String.Empty))_deleteKeyNameForm";
                deleteKeyName_ajax(deleteKeyName_form_id);
//----------------------------------------------------------
               

                @*$('#@local.Key.Replace(" ", String.Empty)_delete').popover();

                $(document).on('click', '#@(local.Key)_delete_cancel', function (e) {
                    e.preventDefault();

                    $('body').on('hidden.bs.popover', function (e) {
                        $(e.target).data("bs.popover").inState.click = false;
                    });

                    $('#@(local.Key.Replace(" ", String.Empty))_delete').popover('hide');
                });

                 $('body').on('mousedown', function (e) {
                        $('#@local.Key.Replace(" ", String.Empty)_delete').each(function () {
                            //Check if the popover is active / contain an aria-describedby with a value
                            if ($(this).attr('aria-describedby') != null) {
                                //Put the value in a variable
                                var id = $(this).attr('aria-describedby');
                                if (!$(e.target).closest(".popover-content").length &&
                                    $(e.target).attr("aria-describedby") != id &&
                                    //Look if the click is a child of the popover box or if it's the button itself or a child of the button
                                    !$(e.target).closest('[aria-describedby="' + id + '"').length) {
                                    //trigger a click as if you clicked the button
                                    $('[aria-describedby="' + id + '"]').trigger("click");
                                }
                            }
                        });
                    });*@

                 @*$(document).on('submit', '#@(local.Key.Replace(" ",String.Empty))_deleteForm', function (e) {

                     formData = $(this).serialize();
                     console.log(formData);

                        $.ajax({
                            url: "api/deleteKeyName",
                            type: "DELETE",
                            data: formData
                        }).done(function (data) {
                            location.reload();
                        }).fail(function (xhr, textStatus, errorThrown) {
                            console.log(xhr.response);
                            console.log(textStatus);
                            console.log(errorThrown);
                            $('#validation-message').html(xhr.responseJSON.value);
                            console.log("failed");
                        });
                        e.preventDefault();
                    });*@
            });
        </script>
    }


    @foreach (var local in Model.Items)
    {
        @foreach (var l in local.Value)
        {
            <script>
                $(function () {
                    var deleteCultureId = '#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_btnDelete';
                    var deleteCultureCancelId = '#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_cancelDelete';
                    addPopover(deleteCultureCancelId,deleteCultureId);

                    var deleteCultureForm = '#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_deleteForm';
                    deleteCulture_ajax(deleteCultureForm);

                    var cultureEditableId = '#@local.Key.Replace(" ", String.Empty)_@(l.Key)'
                    btnEditable(cultureEditableId);

                    @*$('#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_btnDelete').popover();

                    $(document).on('click', '#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_cancelDelete', function (e) {
                        e.preventDefault();

                        $('body').on('hidden.bs.popover', function (e) {
                            $(e.target).data("bs.popover").inState.click = false;
                        });

                        $('#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_btnDelete').popover('hide');
                    });

                    $('body').on('mousedown', function (e) {
                        $('#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_btnDelete').each(function () {
                            //Check if the popover is active / contain an aria-describedby with a value
                            if ($(this).attr('aria-describedby') != null) {
                                //Put the value in a variable
                                var id = $(this).attr('aria-describedby');
                                if (!$(e.target).closest(".popover-content").length &&
                                    $(e.target).attr("aria-describedby") != id &&
                                    //Look if the click is a child of the popover box or if it's the button itself or a child of the button
                                    !$(e.target).closest('[aria-describedby="' + id + '"').length) {
                                    //trigger a click as if you clicked the button
                                    $('[aria-describedby="' + id + '"]').trigger("click");
                                }
                            }
                        });
                    });*@

                     @*$(document).on('submit', '#@(local.Key.Replace(" ",String.Empty))_@(l.Key)_deleteForm', function (e) {

                        formData = $(this).serializeArray();
                        dataString = "culture=" + formData[0].name + "&value=" +formData[0].value;

                        $.ajax({
                            url: "api/deleteCulture",
                            type: "DELETE",
                            data: dataString
                        }).done(function (data) {
                            location.reload();
                        }).fail(function (xhr, textStatus, errorThrown) {
                                console.log(xhr.responseJSON.value);
                                console.log(textStatus);
                                console.log(errorThrown);
                        });
                        e.preventDefault();
                    });*@


                    @*$('#@local.Key.Replace(" ", String.Empty)_@(l.Key)').editable({
                        error: function (response, newValue) {
                            if (response.status === 500) {
                                return 'Service unavailable. Please try later.';
                            } else {
                                return response.responseJSON.value;
                            }
                        }
                    });*@
                })
            </script>
        }}
}