@using Microsoft.AspNetCore.Localization
@model ShoppingStore.Models.AddProductViewModel

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture.RequestCulture.Culture.Name;
}

<br />
<ul class="nav nav-tabs">
    <li class="active"><a href="#addProduct" data-toggle="tab">@Localizer["AddNewProduct"]</a></li>
    <li><a href="#addPhoto" data-toggle="tab">Upload Photo</a></li>
</ul>

<br />
<div class="tab-content">
    <div class="tab-pane active" id="addProduct">
        <div asp-validation-summary="All"></div>
        <form asp-action="AddProduct" asp-controller="Product" asp-antiforgery="true">
            <div class="form-group">
                <label asp-for="ProductId"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoId"></label>
                <div data-toggle="modal" data-target="#addPhotoModal">
                    <input id="PhotoId" name="PhotoId" type="text" value="" class="form-control" />
                </div>

                <div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="newProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Selected Photos</h5>
                            </div>
                            <div class="modal-body">
                                <select id="photo-select">
                                    @if (Model.Photos != null)
                                    {
                                        @foreach (var photo in Model.Photos)
                                        {
                                            <option data-img-src="@photo.FileAddress" value="@photo.Id">@photo.FileName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="submit-photo" type="button" class="btn btn-primary">Add Selected Photo</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @if (Model != null)
                    {
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.CategoryId.Split('_')[0]">@category.CategoryName</option>

                        }
                    }
                    else
                    {
                        <option value="0">No Category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="Category" class="btn btn-primary">Edit Category</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                <a asp-action="Index" asp-controller="Product" class="btn btn-warning">Cancel</a>
            </div>
        </form>

    </div>

    <div class="tab-pane" id="addPhoto">

        <div id="actions" class="row">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button dz-clickable">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
            </div>

            <div class="col-lg-5">
                <!-- The global file processing state -->
                <span class="fileupload-process">
                    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                        <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
                    </div>
                </span>
            </div>
        </div>

        <!--Upload preview-->
        <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
        <div class="table table-striped" id="previews">
            <div id="template" class="file-row">
                <!-- This is used as the file preview template -->
                <div>
                    <span class="preview"><img data-dz-thumbnail /></span>
                </div>
                <div>
                    <p class="name" data-dz-name></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                </div>
                <div>
                    <p class="size" data-dz-size></p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    <button data-dz-remove class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                    <button data-dz-remove class="btn btn-danger delete" style="display:none;">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script src="~/js/product-add.js"></script>

    <script>
        $('#photo-select').imagepicker({
        });
        $('.image_picker_image').attr("width", "100");

        $('#submit-photo').click(function (e) {
            e.preventDefault();
            var selectedValue = $("#photo-select").val();
            $('#PhotoId').attr("value", selectedValue);
            $("#addPhotoModal").modal('toggle');
        });

        addPopover("#categoryCancelBtn", "#addCategoryBtn");

        addPopover("#editCategoryCancelBtn","#editCategoryBtn");

        $(document).on('submit', "#addCategoryForm", function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                url: "/api/addCategory",
                type: "POST",
                data: formData
            }).done(function (data) {
                location.reload();
            }).fail(function (xhr, textStatus, errorThrown) {
                console.log(xhr);

                if (xhr.responseJSON) {
                    if (xhr.responseJSON.CategoryName) {
                        $('#category-validation-sum').html(xhr.responseJSON.CategoryName[0]);
                    }
                    else if (xhr.responseJSON.CategoryId) {
                        $('#category-validation-sum').html(xhr.responseJSON.CategoryId[0]);
                    }
                    else {
                        $('#category-validation-sum').html(xhr.responseJSON.repeatedId);
                    }
                }
                console.log(textStatus);
                console.log(errorThrown);
                console.log("failed");
            });
        });



        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/api/uploadfile", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        });

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
        });

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
        });

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1";
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("style", "display:none;");
            file.previewElement.querySelector(".cancel").setAttribute("style", "display:none;");
        });

        myDropzone.on("success", function (file, response) {

            file.previewElement.querySelector(".delete").setAttribute("style", "display:inline");

            $('#aniimated-thumbnials').append(
                '<a href="' + response.fileAddress + '">' +
                '<img src="' + response.fileAddress + '" width="100" height="100"/></a>');

            var dataString = "id=" + response.id;
            file.previewElement.querySelector(".delete").onclick = function (e) {
                e.preventDefault();
                console.log(file);
                $.ajax({
                    url: "api/deletefile",
                    type: "DELETE",
                    data: dataString
                }).done(function () {
                    console.log("success");
                }).fail(function () {
                    console.log("failed");
                })
            }
        });

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0";
        });

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
        };
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true);
        };

    </script>
}
