@using Microsoft.AspNetCore.Localization
@model ProductViewModel

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture.RequestCulture.Culture.Name;
}

<br />
@foreach (var item in Model.Items)
{
    <div class="well">
        <div class="media">

            <a class="pull-left" href="#">
                <img class="media-object" src="http://www.placehold.it/64x64" alt="media-object">
            </a>

            <div class="media-body">
                <div class="media-heading">
                    <strong style="color:crimson">@Localizer["Name"]:</strong>
                    <strong>@item.Name</strong>
                </div>

                <div>
                    <strong style="color:crimson">@Localizer["Description"]:</strong>
                    <br />
                    <br />
                    <div class="list-group-item" style="font-family:'Microsoft Himalaya'">
                        <span class="glyphicon glyphicon-hand-right"> @item.Description</span>
                    </div>
                </div>
                <br />
                <div class="pull-right label label-info ">
                    @if (currentCulture == "en-GB")
                {
                        @(((double)item.Price / 40).ToString("C"))
                    }
                    else if (currentCulture == "en-US")
                    {
                        @(((double)item.Price / 30).ToString("C"))
                    }
                    else
                    {
                        @item.Price.ToString("C")
                    }
                </div>
            </div>
        </div>
    </div>
}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewProductModal" data-whatever="mdo">@Localizer["AddNewProduct"]</button>

<div class="modal fade" id="addNewProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#addProduct" data-toggle="tab">@Localizer["AddNewProduct"]</a></li>
                <li><a href="#addPhoto" data-toggle="tab">Add Photo</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="addProduct">
                    <div class="modal-header">
                        <h3 class="modal-title" id="newProductModalLabel">@Localizer["AddNewProduct"]</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>

                <div class="tab-pane" id="addPhoto">
                    <div class="modal-header">
                        <h3 class="modal-title" id="newProductModalLabel">Upload Photo</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
                            <div class="form-group">
                                <label asp-for="@Model.Photo.FileName"></label>
                                <input asp-for="@Model.Photo.FileName" class="form-control" />
                                <span asp-validation-for="@Model.Photo.FileName"></span>
                            </div>
                            <div class="form-group">
                                <p>Upload one or more files using this form:</p>
                                <input type="file" name="files" multiple />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<pagination item-per-page="Model.ItemPerPage"
            current-page="Model.Page"
            total-items="Model.TotalItems"
            page-controller="Product"
            page-action="Index"
            page-first-icon="@Localizer["FirstPage"].Value"
            page-last-icon="@Localizer["LastPage"].Value"
            page-previous-icon="@Localizer["PreviousPage"].Value"
            page-next-icon="@Localizer["NextPage"].Value">
</pagination>

@section Scripts{
    <script>
        CKEDITOR.replace("Description");
    </script>
}