@using Microsoft.AspNetCore.Localization
@model ProductViewModel

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture.RequestCulture.Culture.Name;
}

<br />
@foreach (var item in Model.Items)
{
    <div class="well">
        <div class="media">

            <a class="pull-left" href="#">
                <img width="200" height="200" class="media-object"
                     src="@item.Photo.FileAddress" alt="media-object">
            </a>

            <div class="media-body">
                <div class="media-heading">
                    <strong style="color:crimson">@Localizer["Name"]:</strong>
                    <strong>@item.Name</strong>
                </div>
                <div>
                    <strong style="color:crimson">@Localizer["Category"]:@item.Category.CategoryName</strong>
                </div>
                <div class="lead">
                    <strong style="color:crimson">@Localizer["Description"]:</strong>
                    <br />
                    <br />
                    <div class="list-group-item" style="font-family:'Microsoft Himalaya'">
                        <span class="glyphicon glyphicon-hand-right"> @item.Description</span>
                    </div>
                </div>
                <br />
                <h3>
                    <span class="label label-info">
                        @item.Price.ToString("C")
                    </span>
                </h3>
                <h4>
                    <label class="label label-primary">Add Product Quantity</label>
                </h4>
                <form asp-action="AddToCart" asp-controller="Cart"  method="get">
                    <input type="hidden" name="productId" value="@item.ProductId" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <input type="number" name="quantity" max="10000" value="1" class="form-control" style="width:160px" />
                    <br />
                    <button type="submit" class="btn btn-success ">
                        Add To Cart
                    </button>
                </form>
            </div>
        </div>
        <br />

        <div class="row">
            @if (User.IsInRole("Admin"))
            {
                <div class="col-xs-1 pull-left">
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-success">Edit</a>
                </div>
                <div class="col-xs-1 pull-left">
                    <form asp-action="Delete" asp-controller="Product" asp-antiforgery="true" method="post">
                        <button type="submit" class="btn btn-danger" name="id" iflue="@item.ProductId">
                            Delete
                        </button>
                    </form>
                </div>
            }
        </div>

    </div>
}

@if (User.IsInRole("Admin"))
{
    <a asp-action="AddProduct" asp-controller="Product" class="btn btn-primary">@Localizer["AddNewProduct"]</a>
}

<pagination item-per-page="Model.ItemPerPage"
            current-page="Model.Page"
            total-items="Model.TotalItems"
            page-controller="Product"
            page-action="Index"
            page-first-icon="@Localizer["FirstPage"].Value"
            page-last-icon="@Localizer["LastPage"].Value"
            page-previous-icon="@Localizer["PreviousPage"].Value"
            page-next-icon="@Localizer["NextPage"].Value">
</pagination>

