@using Microsoft.AspNetCore.Localization
@model ProductViewModel

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture.RequestCulture.Culture.Name;
}

<br />
@foreach (var item in Model.Items)
{
    <div class="well">
        <div class="media">

            <a class="pull-left" href="#">
                <img class="media-object" src="http://www.placehold.it/64x64" alt="media-object">
            </a>

            <div class="media-body">
                <div class="media-heading">
                    <strong style="color:crimson">@Localizer["Name"]:</strong>
                    <strong>@item.Name</strong>
                </div>

                <div>
                    <strong style="color:crimson">@Localizer["Description"]:</strong>
                    <br />
                    <br />
                    <div class="list-group-item" style="font-family:'Microsoft Himalaya'">
                        <span class="glyphicon glyphicon-hand-right"> @item.Description</span>
                    </div>
                </div>
                <br />
                <div class="pull-right label label-info ">
                    @if (currentCulture == "en-GB")
                {
                        @(((double)item.Price / 40).ToString("C"))
                    }
                    else if (currentCulture == "en-US")
                    {
                        @(((double)item.Price / 30).ToString("C"))
                    }
                    else
                    {
                        @item.Price.ToString("C")
                    }
                </div>
            </div>
        </div>
    </div>
}


<a asp-action="AddProduct" asp-controller="Product"  class="btn btn-primary">@Localizer["AddNewProduct"]</a>

@*<div class="modal fade" id="addNewProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#addProduct" data-toggle="tab">@Localizer["AddNewProduct"]</a></li>
                    <li><a href="#addPhoto" data-toggle="tab">Upload Photo</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="addProduct">
                        <form>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="productName">Name</label>
                                    <input id="productName" name="productName" class="form-control" />
                                    <span id="productName-error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="productDescription">Description</label>
                                    <textarea id="productDescription" name="productDescription" class="form-control"></textarea>
                                    <span id="productDescription-error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="productDescription">Description</label>
                                    <textarea id="productDescription" name="productDescription" class="form-control"></textarea>
                                    <span id="productDescription-error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>

                                    <select id="CategoryID" class="form-control">
                                        @if (Model.Cagegories == null)
                                        {
                                            @foreach (var category in Model.Cagegories)
                                            {
                                                <option value="@category.CategoryID">@category.CategoryName</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="None">None</option>
                                        }
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary" >Add</button>
                                <button type="button" class="btn btn-warning">Cancel</button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="addPhoto">
                        <div class="modal-body">

                            <div id="actions" class="row">
                                <div class="col-lg-7">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-button dz-clickable">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Add files...</span>
                                    </span>
                                    <button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start upload</span>
                                    </button>
                                    <button type="reset" class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel upload</span>
                                    </button>
                                </div>

                                <div class="col-lg-5">
                                    <!-- The global file processing state -->
                                    <span class="fileupload-process">
                                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                                            <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <!--Upload preview-->
                            <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
                            <div class="table table-striped" id="previews">
                                <div id="template" class="file-row">
                                    <!-- This is used as the file preview template -->
                                    <div>
                                        <span class="preview"><img data-dz-thumbnail /></span>
                                    </div>
                                    <div>
                                        <p class="name" data-dz-name></p>
                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                    </div>
                                    <div>
                                        <p class="size" data-dz-size></p>
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary start">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span>Start</span>
                                        </button>
                                        <button data-dz-remove class="btn btn-warning cancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                            <span>Cancel</span>
                                        </button>
                                        <button data-dz-remove class="btn btn-danger delete" style="display:none;">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div><!-- tab content end-->
            </div><!-- modal-content end-->
        </div><!-- modal-dialog end-->
    </div><!-- modal fade end -->*@



<pagination item-per-page="Model.ItemPerPage"
            current-page="Model.Page"
            total-items="Model.TotalItems"
            page-controller="Product"
            page-action="Index"
            page-first-icon="@Localizer["FirstPage"].Value"
            page-last-icon="@Localizer["LastPage"].Value"
            page-previous-icon="@Localizer["PreviousPage"].Value"
            page-next-icon="@Localizer["NextPage"].Value">
</pagination>

