@using Microsoft.AspNetCore.Localization
@model ProductViewModel

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture.RequestCulture.Culture.Name;
}

<br />
@foreach (var item in Model.Items)
{
    <div class="well">
        <div class="media">

            <a class="pull-left" href="#">
                <img class="media-object" src="http://www.placehold.it/64x64" alt="media-object">
            </a>

            <div class="media-body">
                <div class="media-heading">
                    <strong style="color:crimson">@Localizer["Name"]:</strong>
                    <strong>@item.Name</strong>
                </div>

                <div>
                    <strong style="color:crimson">@Localizer["Description"]:</strong>
                    <br />
                    <br />
                    <div class="list-group-item" style="font-family:'Microsoft Himalaya'">
                        <span class="glyphicon glyphicon-hand-right"> @item.Description</span>
                    </div>
                </div>
                <br />
                <div class="pull-right label label-info ">
                    @if (currentCulture == "en-GB")
                {
                        @(((double)item.Price / 40).ToString("C"))
                    }
                    else if (currentCulture == "en-US")
                    {
                        @(((double)item.Price / 30).ToString("C"))
                    }
                    else
                    {
                        @item.Price.ToString("C")
                    }
                </div>
            </div>
        </div>
    </div>
}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewProductModal" data-whatever="mdo">@Localizer["AddNewProduct"]</button>

<div class="modal fade" id="addNewProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#addProduct" data-toggle="tab">@Localizer["AddNewProduct"]</a></li>
                <li><a href="#addPhoto" data-toggle="tab">Upload Photo</a></li>
                <li><a href="#showPhotos" data-toggle="tab">Show Photos</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="addProduct">

                    <div class="modal-body">

                    </div>
                </div>

                <div class="tab-pane" id="addPhoto">
                    <div class="modal-body">
                        <form id="fileupload" method="POST" enctype="multipart/form-data">
                            <div class="row fileupload-buttonbar">
                                <div class="col-lg-7">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <label class="btn btn-success">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Add files...</span>
                                        <input id="file" name="file" type="file" class="form-control" style="display:none;" multiple />
                                    </label>
                                    <button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start upload</span>
                                    </button>
                                    <button type="reset" class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel upload</span>
                                    </button>
                                    <button type="button" class="btn btn-danger delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                    <input type="checkbox" class="toggle">
                                    <!-- The global file processing state -->
                                    <span class="fileupload-process"></span>
                                </div>
                                <!-- The global progress state -->
                                <div class="col-lg-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                    </div>
                                    <!-- The extended global progress state -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table role="presentation" class="table table-striped">
                                <tbody id="upload_list">
                                  
                                </tbody>
                            </table>
                        </form>


                    </div>
                </div>

                <div class="tab-content" id="showPhotos">
                    <div class="modal-body">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<pagination item-per-page="Model.ItemPerPage"
            current-page="Model.Page"
            total-items="Model.TotalItems"
            page-controller="Product"
            page-action="Index"
            page-first-icon="@Localizer["FirstPage"].Value"
            page-last-icon="@Localizer["LastPage"].Value"
            page-previous-icon="@Localizer["PreviousPage"].Value"
            page-next-icon="@Localizer["NextPage"].Value">
</pagination>

@section Scripts{
    <script>

        function readURL(input) {
            for (var i = 0; i < input.files.length; i++) {
                if (input.files[i]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var tbody = $('#upload_list');
                        tbody.append(
                            '<tr><td><img src="' + e.target.result + '" width="100" height="100"/></td></tr>');
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

        $(function () {

            var files = document.getElementById('file');    

            files.onchange = function () {
                readURL(this);
            }
        

            $('#uploadForm').submit(function (e) {
                var file = $('#file')[0];
                var formData = new FormData();

                formData.append('file', file.files[0]);
                console.log(formData);

                $.ajax({
                    url: 'api/upload',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (data) {
                        alert("upload success");
                    }
                });
                e.preventDefault();
            });
        });

    </script>
}